:root {

}

*{
    font-family: Arial, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

select{
    background: transparent;
    width: auto;
    height: 20px;
    border-radius: 5px;
}

header{
    height: 75px;
    padding: 0 70px;
    background: lightpink;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.catalog{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.product-card{
    width: 97%;
    height: 175px;
    align-self: center;
    display: flex;
    padding: 10px;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;

    transition: all 0.15s;
}

.product-card:hover{
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
    scale: 1.01;

    transition: all 0.15s;
}

.product-card__image,
.product-card__info,
.product-card__actions{
    height: 100%;
}

.product-card__image{
    aspect-ratio: 1/1;
}

.product-card__info{
    flex: 1;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
}

.product-card__info > .info-title{
    font-weight: 700;
    font-size: 30px;
}

.product-card__info > .info-manufacturer{
    font-size: 20px;
    color: gray;
    line-height: 10px;
}

.product-card__info > .info-description{
    margin-top: 9px;
    font-size: 17px;
}

.product-card__info > .info-price{
    margin-top: auto;
    font-weight: 700;
    font-size: 24px;
}

.product-card__actions{
    aspect-ratio: 1.5/1;
}

.product-card__actions > .in-stock{
    font-size: 24px;
}

.product-card__actions > .in-stock > .count{
    font-size: 30px;
    font-weight: 700;
}